h1, h2, p {
	font-family: helvetica;
}

#wrapper {
	max-width: 500px;
	margin: auto;
	padding: 10px;
	text-align: center;
}

#question p{
	max-width: 400px;
	margin: auto;
	text-align: justify;
	padding-bottom: 30px;
}

#next {
	float: right;
	font-family: helvetica;
	text-transform: uppercase;
	color: green;
	text-decoration: none !important;
}

#next a:visited {
	color: green;
}

#next a:hover {
	text-decoration: underline;
}

#useranswer {
	width: 100%;
	height: 500px;
  	padding: 20px 20px;
  box-sizing: border-box;
  border: 1px solid #black;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}


#fileupload {
  color: transparent;
}
#fileupload::-webkit-file-upload-button {
  visibility: hidden;
}
#fileupload::before {
  content: 'UPLOAD FILE';
  color: black;
  display: inline-block;
  background: #f8f8f8;
  border: 1px solid #999;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  display: flex; justify-content: center;
}
#fileupload:hover::before {
  border-color: black;
}
#fileupload:active {
  outline: 0;
}
#fileupload:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

body {
  padding: 20px;
}